In [2]:
import tensorflow as tf
loaded_model = tf.keras.models.load_model('my_model')

In [3]:
import pandas as pd

In [4]:
dataset =pd.read_csv('iris.csv')
dataset

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [5]:
dataset = pd.get_dummies(dataset, columns=['variety'])

In [6]:
dataset[['sepal.length','sepal.width','petal.length','petal.width']]

     sepal.length  sepal.width  petal.length  petal.width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [7]:
predict_df = pd.DataFrame(loaded_model.predict(dataset[['sepal.length','sepal.width','petal.length','petal.width']]))

5/5 [==============================] - 0s 1ms/step

In [8]:
predict_df = pd.DataFrame(loaded_model.predict(dataset[['sepal.length','sepal.width','petal.length','petal.width']]))

5/5 [==============================] - 0s 1ms/step

In [9]:
predict_df

            0         1             2
0    0.999363  0.000637  1.036811e-08
1    0.994618  0.005382  2.300849e-07
2    0.998969  0.001031  3.321451e-08
3    0.997010  0.002990  1.339969e-07
4    0.999656  0.000344  5.004972e-09
..        ...       ...           ...
145  0.000033  0.372900  6.270672e-01
146  0.000132  0.560092  4.397758e-01
147  0.000053  0.419456  5.804918e-01
148  0.000014  0.207476  7.925102e-01
149  0.000083  0.411833  5.880839e-01

[150 rows x 3 columns]

In [2]:
data ={"sepal.length": 5.1,"sepal.width": 3.5, "petal.length" :1.4,"petal.width": 0.2}

In [3]:
data_array = [data["sepal.length"], data["sepal.width"], data["petal.length"], data["petal.width"]]
print(data_array)

[5.1, 3.5, 1.4, 0.2]

In [6]:
data1 = {
    "sepal.length": 5.1,
    "sepal.width": 3.5,
    "petal.length": 1.4,
    "petal.width": 0.2
};

data2 = {
    "sepal.length": 4.9,
    "sepal.width": 3.0,
    "petal.length": 1.4,
    "petal.width": 0.2
}
jsonDataArray = [data1+data2]

In [7]:
jsonDataArray

[{'sepal.length': 5.1,
  'sepal.width': 3.5,
  'petal.length': 1.4,
  'petal.width': 0.2},
 {'sepal.length': 4.9,
  'sepal.width': 3.0,
  'petal.length': 1.4,
  'petal.width': 0.2}]

In [14]:
import pandas as pd

data = [{"sepal.length": 5.9,"sepal.width": 3.0, "petal.length" :5.1,"petal.width": 1.8},
        {"sepal.length": 4.9,"sepal.width": 2.0, "petal.length" :2.1,"petal.width": 1.3}]

data_array = pd.DataFrame(data)

In [15]:
data_array

   sepal.length  sepal.width  petal.length  petal.width
0           5.9          3.0           5.1          1.8
1           4.9          2.0           2.1          1.3